.nav {
  margin: 10px auto 50px auto;
  padding: 8px 6px 0;
  background: #c6111e;
  border: solid 1px #a00e18;
  border-left-width: 4px;
  font-size: 14px;
}
.nav li {
  margin: 0 5px;
  padding: 0 0 8px;
  float: left;
  position: relative;
  list-style: none;
}
.nav a {
  color: #e7e5e5;
  text-decoration: none;
  display: block;
  padding: 8px 20px;
  margin: 0;
  border-left: solid 4px transparent;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.nav a:hover {
  color: white;
}
.nav .current a,
.nav li:hover > a {
  background: lightgray;
  color: #444444;
  border-left: solid 4px #a00e18;
}
.nav ul li:hover a,
.nav li:hover li a {
  background: none;
  border: none;
  color: #666666;
}
.nav ul li:hover a {
  background: #c6111e;
  border: none;
  color: #666666;
}
.nav ul a:hover {
  background: lightgray;
  color: white !important;
}
.nav li:hover > ul {
  display: block;
}
.nav ul {
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 35px;
  left: 0;
  background: lightgray;
  border: solid 1px #b4b4b4;
  z-index: 1;
}
.nav ul li {
  float: none;
  margin: 0;
  padding: 0;
}
.nav ul a {
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.nav ul ul {
  left: 181px;
  top: -3px;
}
.nav:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
