@font-face {
	font-family: Open Sans light;
	src: url(fonts/OpenSans-Light.ttf);
}

.border-right {
	border-right: 1px solid RGB(50, 50, 50);
}

body {
	width: 100%;
	font-family: "Arial";
	color: #4F5857;
}

header {
	color: RGB(0, 0, 0);
	font-family: 'Open Sans light';
	font-weight: lighter;
	background: url('images/background-header.jpg');
}

footer {
	background: url('images/background-header.jpg');
	color: RGB(0, 0, 0);
	font-family: 'Open Sans light';
}

section img {
	max-width: 100%;
}

.row {
	padding: 10px;
	max-width: 1500px;
	margin: auto;
}

section {
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Open Sans light';
	font-weight: bold;
}

/* required for sticky footer */
html {
	position: relative;
	min-height: 100%;
}

.bigta {
	width: 100%;
	resizable: false;
	scrollable: true;
}

	.titre-site {
		font-style: italic;
		position: relative; /* Pour faire passer le texte sur l'image */
		text-align: center;
	}

@media ( max-width :768px) {
	.logoAveyron {
		display: none;
	}	
	.lang-chooser {
		position:absolute;
		bottom:30px;
	}
		.titre-site {
		font-size: 40px;
	}
}

@media ( min-width :768px) {
	.logoAveyron {
		display: none;
	}
	
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:focus,
	.navbar {
		background: #74A5E0;
	}
	 
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > li > a {
		color: #454545;
	}
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > li > a:hover {
		color: #000000;
	}
	
	nav {
		background-image:linear-gradient(to right, white, black);
	}

	.titre-site {
		font-size: 40px;
	}
}

@media ( max-width : 1000px) {
	.lang-chooser {
		position:absolute;
		bottom:20px;
	}
	header {
		height: 150px;
	}
	
	.logo-container {		
		display: none;
	}
	.row {
		text-align: center;
	}
	.titre-site {
		width: 100%;
		margin: auto;
	}

	.footer {
		position: relative;
		width: 100%;
	}
	.slick-dots li button:before {
		display: none
	}
	.border-right {
		border-right: none
	}
	body {
		margin-bottom: auto;
	}
	.slide-top {
		display: none;
	}
}


@media ( min-width : 1001px) {
		/* Header */
	.logoPastourelle {
		width: 100px;
	}
	.lang-chooser {
		position:absolute;
		bottom:-10px;
	}
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
	}
	.navbar .navbar-collapse {
		text-align: center;
	}
	.logoAveyron {
		width: 230px;
		position: absolute;
		top: -16px;
		left: 30%;
	}
	.container {
		margin-bottom: 150px;
	}
	.footer {
		position: absolute;
		bottom: 0;
		height: 120px;
		width: 100%;
	}
	.slick-dots li button:before {
		display: block;
		position: relative;
	}
	body {
		margin-bottom: 150px;
	}
}

@media ( max-width : 1300px) {

	.slide-top {
		max-width: 200px;
		left: 120px;
		bottom: -15px;
	}
}

@media ( min-width : 1301px) {
	.logoPastourelle {
		width: 125px;
	}
	.lang-chooser {
		bottom:-45px;
	}
	.slide-top {
		max-width: 250px;
		left: 120px;
		bottom: -15px;
	}
	.logoAveyron {
		display: block;
	}
	.titre-site {
		font-size: 50px;
	}
	.footer {
		height: 100px;
	}
	body {
		margin-bottom: 100px;
	}
}

.slide-accueil, .slide-admin {
	width: 80%;
	margin: auto;
	text-align: center;
}

.slide-accueil img {
	max-height: 450px;
	width: auto;
	margin: 0 auto;
	box-shadow: 0px 0px 2px 1px RGBA(0, 0, 0, 0.55);
}

.slick-prev:before, .slick-next:before {
	color: #5A728A !important;
	font-size:30px;
}


/** liens hypertexte */
a {
	color: rgb(70, 70, 70);
	text-decoration: none;
	font-weight: bold;
	transition: 0.2s all;
}

a:hover {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.col-md-1 {
	position: relative;
	min-height: 150px;
	margin: auto;
}

.img-lang {
	max-width: 40px;
	max-height: 40px;
}

/* Page compte rendu */
.form-compteRendu {
	font-family: "Arial";
	text-align: justify;
	color: #4F5857;
	font-size: 16px;
	width: 90%;
	height: 300px;
	padding-left: 50px;
}

.spoiler-hidden {
	display: none;
	margin-top: 10px;
	padding: 5px;
}

figure {
	display: block;
	text-align: center;
}

.spoiler:hover {
	cursor: pointer;
}

.playlist li:hover, .controls-player:hover {
	color: rgb(0, 0, 0);
	cursor: pointer;
}

.volume, .tracker {
	width: 50%;
	background: grey;
	border-color: white;
}

.ui-slider-handle {
	color: blue;
}

.ui-widget-content .ui-state-default {
	background: grey;
}



.controls-player td {
	padding: 10px;
	margin: 5px;
}

.pause {
	display: none;
}

section h1 {
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid RGB(75, 75, 75);
	width: 35%;
	margin: auto;
	margin-bottom: 20px;
	padding-bottom: 5px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #cccccc;
	color: white;
}

.error {
	font-weight: bold;
	color: blue;
}

.map {
	width: 400px;
	height: 200px;
	
}

.player {
	width: 90%;
	margin: auto;
	border: 1px solid black;
	background: rgb(240, 240, 240);
	padding: 20px;
}

.player ul li {
	list-style-type:none;
}

.controls-player {
	width: 50%;
}
.volume, .tracker {
	width: 90%;
}

.player .col-md-1, .col-md-10 {
	padding: 2px;
	min-height: auto;
}

.playlist {
	margin-top: 10px;
}

.link {
	max-width: 100px;
    max-height: 100px;
}

  
 