
@font-face {
    font-family: Open Sans light;
    src: url(fonts/OpenSans-Light.ttf);
}
.border-right {
	border-right: 1px solid RGB(50,50,50);
}

header{
	color:RGB(0,0,0);
	font-family: 'Open Sans light';
		font-weight:lighter;
	background: url('images/background-header.jpg');
}

footer{
	background: url('images/background-header.jpg');
	color:RGB(0,0,0);
	font-family: 'Open Sans light';
}

.row {
	padding: 10px;
	max-width:1500px;
	margin:auto;
}

section{
	max-width:1200px;
	margin:0 auto;
	font-family: 'Open Sans light';
	font-weight:bold;
}

/* required for sticky footer */
html {
	position: relative;
	min-height: 100%;
}

@media ( min-width :768px) {
	.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
}

@media ( max-width: 1400px) {
	.footer {
		position: relative;
		width: 100%;
		margin-top: 20px;
	}
	.slick-dots li button:before {
		display: none
	}
	.border-right {
		border-right: none
	}
	body {
		margin-bottom: auto;
	}
}

@media ( min-width :1400px) {
	.container {
		margin-bottom: 150px;
	}
	.footer {
		position: absolute;
		bottom: 0;
		height: 100px;
		width: 100%;
	}
	.slick-dots li button:before {
	display: block;
	position: relative;
}
	
	body {
		margin-bottom: 100px;
	}
}

.slide-top img {
	margin: 5px;
}
	
.slide-top {
		max-height: 100px;
		width: auto;
		margin-bottom: 30px;
}

body {
	width: 100%;
	font-family: "Arial";
	color: #4F5857;
}

.slide-accueil, .slide-admin {
	width: 80%;
	margin: auto;
	text-align:center;
}

.slide-accueil img{
	max-height:450px;
	width:auto;
	margin:0 auto;
	box-shadow:0px 0px 2px 1px RGBA(0,0,0,0.55);
}

.slick-prev:before, .slick-next:before {
	color: red !important;
}

/** liens hypertexte */
a {
	color: rgb(50,50,50);
	text-decoration: none;
	font-weight:bold;
	transition:0.2s all;
}

a:hover {
	color: rgb(0,0,0);
	text-decoration: none;
}

.lang-chooser {
	position:absolute;
	bottom:0;
}
.col-md-1 {
	position:relative;
min-height: 150px;
margin:auto;
}


.img-lang {
		max-width: 40px;
		max-height: 40px;

	}


/* Page compte rendu */
.form-compteRendu {
	font-family: "Arial";
	text-align: justify;
	color: #4F5857;
	font-size: 16px;
	width: 90%;
	height: 300px;
	padding-left: 50px;
}

.spoiler-hidden {
	display: none;
	margin-top: 10px;
	padding: 5px;
}

figure {
	display: block;
	text-align: center;
}

.spoiler:hover {
	cursor:pointer;	
}

/* Header */



.logoPastourelle{
	width:125px;
}

.logoAveyron{
	width:180px;
	position:absolute;
	top:-16px;
	left:30%;
}

.titre-site{
	font-style:italic;
	font-size:50px;
	position:relative; /* Pour faire passer le texte sur l'image */
	text-align: center;
}

section h1{
	text-align:center;
	font-weight:bold;
	border-bottom:1px solid RGB(75,75,75);
	width:35%;
	margin:auto;
	margin-bottom:20px;
	padding-bottom:5px;
}